.no-radius{
  border-radius: 0 !important;
}
.no-r-t{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.no-r-r{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.no-r-b{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.no-r-l{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.r{
  border-radius: @border-radius-base;
}
.r-t{
  border-top-left-radius: @border-radius-base;
  border-top-right-radius: @border-radius-base;
}
.r-r{
  border-top-right-radius: @border-radius-base;
  border-bottom-right-radius: @border-radius-base;
}
.r-b{
  border-bottom-left-radius: @border-radius-base;
  border-bottom-right-radius: @border-radius-base;
}
.r-l{
  border-top-left-radius: @border-radius-base;
  border-bottom-left-radius: @border-radius-base;
}
.r-2x{
  border-radius: @border-radius-base * 2;
}
.r-3x{
  border-radius: @border-radius-base * 3;
}
